<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>{{#if title}}{{title}}{{else}}Tim Disney (disnetdev){{/if}}</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <link href="/static/blog.css" rel="stylesheet">
    <link href="/static/highlight.css" rel="stylesheet">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <h1 class="blog-nav-logo">Tim Disney</h1>
        <nav class="blog-nav">
          <a class="blog-nav-item{{#if pageAbout}} active{{/if}}" href="/">about</a>
          <a class="blog-nav-item{{#if pageBlog}} active{{/if}}" href="/blog">blog</a>
          <a class="blog-nav-item{{#if pagePapers}} active{{/if}}" href="/papers">papers</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-12 blog-main">
