---
layout: layouts/home.njk
eleventyNavigation:
  key: Linkblog
  order: 3
---

<div class="linkblog-container">
    {% for post in collections.links %}
        <article class="linkblog">
            {{ post.content | safe }}

            <ul class="postlist">
                <li><a href="{{ post.url }}"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("DDD") }}</time></a></li>
            </ul>
        </article>
    {% endfor %}
</div>
