{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  <div id=sub-header>
    {{ .Params.published_year }}
    {{ range .Params.authors }}
    · <a href="{{.link}}">{{.name}}</a>
    {{ end }}

  </div>

  <div class="entry-content">
    {{ .Content }}
  </div>

  {{ range .Params.published_how }}
  <div>
    <strong>{{.name}}</strong>:
      {{range .files }}
        <a href="{{.link}}">{{.name}}</a>
      {{end}}
  </div>
  {{end}}

</section>

{{ partial "footer.html" . }}
