{{> header pageBlog="true"}}

{{#each collections.recentPosts }}
<article class="blog-post">
  <h2 class="blog-post-title"><a href="/{{path}}">{{ title }}</a></h2>
  <p class="blog-post-meta">{{formatDate date  day="numeric" month="long" year="numeric" }}</p>

  {{{ original_contents }}}
</article>
{{/each}}

<div style="text-align: right">&mdash; even more words in the <a href="/blog/archive">archive</a>!</div>

{{> footer }}
