{{> header pageBlog="true"}}

<article class="blog-post">
  <h2 class="blog-post-title"><a href="/{{path}}">{{ title }}</a></h2>
  {{#if date}}
  <p class="blog-post-meta">{{formatDate date  day="numeric" month="long" year="numeric" }}</p>
  {{/if}}

  {{{ contents }}}
</article>

{{> footer }}
